.card{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin: 10px 0;
    background-color: rgb(25, 111, 160);
    border-radius: 5px;
}

.card img{
    width: 30px;
    border-radius: 3px;
    margin-right: 15px;
}